[submodule "teachinghistory-website/themes/ananke"]
	path = teachinghistory-website/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "teachinghistory-website/themes/hextra"]
	path = teachinghistory-website/themes/hextra
	url = https://github.com/imfing/hextra.git
[submodule "teachinghistory-website/themes/hugoplate"]
	path = teachinghistory-website/themes/hugoplate
	url = https://github.com/zeon-studio/hugoplate.git
